# ----------------------------------------------------------------------#
# Application specific files
# ----------------------------------------------------------------------#
config-working.properties
.apt_generated_tests
.factorypath
*.lic
tmp.*
.mule/
.apt_generated/
.apt_generated_tests/

# ----------------------------------------------------------------------#
# Java defaults
# ----------------------------------------------------------------------#
*.class
*.war
*.ear


# ----------------------------------------------------------------------#
# Maven files
# ----------------------------------------------------------------------#
target/


# ----------------------------------------------------------------------#
# IDE specific (IntellijJ, NetBeans, Eclipse, VSCode etc)
# ----------------------------------------------------------------------#
.idea
*.iml
.vscode
nbactions.xml
.classpath
.project
.settings/
caches/
target/


# ----------------------------------------------------------------------#
# OS specific
# ----------------------------------------------------------------------#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
